<footer class="mdl-mega-footer">
    <div class="mdl-mega-footer__middle-section">
        <div class="mdl-mega-footer__drop-down-section">
            <h1 class="mdl-mega-footer__heading">Help</h1>
            <ul class="mdl-mega-footer__link-list">
                <li>
                    <a href="./faq.php">FAQ</a>
                </li>
                <li>
                    <a href="mailto:support@overcollector.com?subject=[Question] ">Ask a question</a>
                </li>
                <li>
                    <a href="mailto:support@overcollector.com?subject=[Help] ">Get help</a>
                </li>
            </ul>
        </div>

        <div class="mdl-mega-footer__drop-down-section">
            <h1 class="mdl-mega-footer__heading">Technical</h1>
            <ul class="mdl-mega-footer__link-list">
                <li>
                    <a href="mailto:support@overcollector.com?subject=[Bug] ">Report an issue</a>
                </li>
                <li>
                    <a href="https://github.com/Tititesouris/Overcollector/blob/master/data.sql">Get cosmetics data dump</a>
                </li>
                <li>
                    <a href="https://github.com/Tititesouris/Overcollector" target="_blank">Fork on GitHub</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="mdl-mega-footer__bottom-section">
        <div class="mdl-logo">Overcollector</div>
        <ul class="mdl-mega-footer__link-list">
            <li>
                <a href="https://twitter.com/Tititesouris" target="_blank"><b>Made by Tititesouris</b></a>
            </li>
            <li>
                Powered by <a href="https://getmdl.io/" target="_blank"><b>Material Design Light</b></a>
                and <a href="http://twig.sensiolabs.org/" target="_blank"><b>Twig</b></a>
            </li>
        </ul>
    </div>
</footer>