<div class="footer align-center">
    Made by <a target="_blank" href="https://twitter.com/Tititesouris">Tititesouris</a><br/>
    Powered by <a target="_blank" href="https://getmdl.io/">Material Design Light</a> & <a target="_blank" href="http://twig.sensiolabs.org/">Twig</a>
</div>