<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Overcollector</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
            {% if SESSION.user is not defined %}
                <a class="mdl-navigation__link" href="./login.php">Log In</a>
            {% endif %}
            <a class="mdl-navigation__link" href="./">Home</a>
            <a class="mdl-navigation__link" href="./collection.php">Collection</a>
        </nav>
    </div>
</header>