{% import "cosmetic.twig" as cosmeticMacro %}
{% extends "page.twig" %}
{% block body %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet">
            <button id="update-cosmetics">UPDATE</button>
            <ul class="demo-list-icon mdl-list">
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-all-heroes">
                            <input type="checkbox" id="switch-all-heroes" class="mdl-switch__input" checked>
                            <span class="mdl-switch__label">Heroes</span>
                        </label>
                    </span>
                </li>
                <li class="mdl-list__item mdl-button--disabled" >
                    <span class="mdl-list__item-primary-content" style="background: url('img/Ana.png') no-repeat left; background-blend-mode: color; background-size: contain;">
                        Ana
                    </span>
                    <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-1">
                            <input type="checkbox" id="list-checkbox-1" class="mdl-checkbox__input" checked/>
                        </label>
                    </span>
                </li>
            </ul>
        </div>
        <div class="mdl-cell mdl-cell--10-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            <table id="cosmetics-table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                {% for character, types in SESSION.cosmetics %}
                    <tbody>
                    <tr>
                        <td colspan="9"
                            class="mdl-typography--headline mdl-data-table__cell--non-numeric"  style="background: url('img/mercy.png') no-repeat right; background-size: contain;">
                            {{ character > 0 ? SESSION.characters[character].name : "All Heroes" }}
                        </td>
                    </tr>
                    {% for type, cosmetics in types %}
                        {% for cosmetic in cosmetics %}
                            {% if loop.index0 % 3 == 0 %}
                                <tr>
                            {% endif %}
                            <td>
                                {{ cosmeticMacro.cosmetic(cosmetic, false) }}
                            </td>
                            {% if loop.index0 % 3 == 2 or loop.index == loop.length %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}