{% extends "page.twig" %}
{% block body %}
    <div class="mdl-layout__content" style="width: 100%; padding: 1rem; margin: auto;">
        <h1 class="mdl-typography--title">What's Overcollector?</h1>
        <p>
            Overcollector is a website that helps you track the cosmetics you own in Overwatch.<br/>
            You can browse your collection using filters on heroes, categories and types to only track the things you
            care about.<br/>
            You can see statistics about your collection and see how many credits you would need to spend to acquire all
            cosmetics of a certain category, perfect for planning your seasonal event shopping!<br/>
        </p>
        <h1 class="mdl-typography--title">Get Started</h1>
        <p>
            To start using Overcollector, follow these simple steps:<br/>
            Login using your Battle.net account.<br/>
            Go to your collection and input the cosmetics you already own. (This process can take up to an hour, we
            suggest you progressively add them hero by hero every day to avoid getting bored.)<br/>
            (We are working on a way to partially automatize this process)<br/>
            Every time you open a Lootbox, go to the Open a Lootbox page and select the drops you got.<br/>
            Regularly export your collection as a back-up plan in case something bad happens!
        </p>
        <h1 class="mdl-typography--title">This sounds cool, but it doesn't look that good at the moment</h1>
        <p>
            Overcollector is in its very early life and so far only one person is working on it.<br/>
            If you have some knowledge of web development you are very welcome to contribute <a
                    href="https://github.com/Tititesouris/Overcollector">here</a>.<br/>
            We are actively looking for a web designer to make this place look decent.<br/>
            Here are some of the features you can expect in the future
        </p>
        <ul>
            <li>Wishlists - Track only the cosmetics you really care about that will never drop</li>
            <li>Achievement tips and tricks - Learn how to get every achievement to see that sweet 100% next to the Achievement category</li>
            <li>Search - Quickly find the cosmetics you're looking for (Tip: You can already hide sprays)</li>
            <li>More stats - Know how long you should stay single to complete your collection and how lucky you got when you looted 4 duplicate sprays in a Winter Wonderland Loot Box</li>
            <li>Compare collections with friends - Because size matters and you can't boast about your competitive rank</li>
        </ul>
    </div>
{% endblock %}