{% extends "page.twig" %}
{% block body %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet">
            <ul class="demo-list-icon mdl-list">
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-all-heroes">
                            <input type="checkbox" id="switch-all-heroes" class="mdl-switch__input" checked>
                            <span class="mdl-switch__label">Heroes</span>
                        </label>
                    </span>
                </li>
                <li class="mdl-list__item mdl-button--disabled">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-avatar">face</i>Ana
                    </span>
                    <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-1">
                            <input type="checkbox" id="list-checkbox-1" class="mdl-checkbox__input" checked/>
                        </label>
                    </span>
                </li>
            </ul>
        </div>
        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-tablet">
            <table id="cosmetics-table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <caption><button id="update-cosmetics">UPDATE</button></caption>
                {% for character in SESSION.characters %}
                    <tbody>
                    <tr>
                        <td colspan="9"
                            class="mdl-typography--headline mdl-data-table__cell--non-numeric">{{ character.name }}</td>
                    </tr>
                    {% for cosmetic in SESSION.cosmetics %}
                        {% if cosmetic.character == character %}
                            {% if loop.index0 % 3 == 0 %}
                                <tr name="{{ loop.index0 }}">
                            {% endif %}
                            {% include 'cosmetic.twig' %}
                            {% if loop.index0 % 3 == 2 %}
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                {% endfor %}
                <tbody>
                <tr>
                    <td colspan="9"
                        class="mdl-typography--headline mdl-data-table__cell--non-numeric">All Heroes
                    </td>
                </tr>
                {% for cosmetic in SESSION.cosmetics %}
                    {% if cosmetic.character is null %}
                        {% if loop.index0 % 3 == 0 %}
                            <tr>
                        {% endif %}
                        {% include 'cosmetic.twig' %}
                        {% if loop.index0 % 3 == 2 %}
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}