{% import "cosmetic.twig" as cosmeticMacro %}
{% extends "page.twig" %}
{% block body %}
    <div class="mdl-layout__content" style="width: 100%; padding: 1rem; margin: auto;">
        <h1 class="mdl-typography--title">What's Overcollector?</h1>
        <p>
            Overcollector is a website that helps you track the cosmetics you own in Overwatch.<br/>
            You can browse your collection using filters on heroes, categories and type to only track the things you
            care
            about.<br/>
            You can also set up a wishlist to track the cosmetics you really want.<br/>
            You also get statistics about your collection and the cosmetics you're missing.<br/>
        </p>
        <h1 class="mdl-typography--title">Get Started</h1>
        <p>
            Login using your Battle.net account.<br/>
            Go to your collection and input the cosmetics you already own.<br/>
            Every time you open a Lootbox, go to your collection and add the newly acquired cosmetics in.<br/>
        </p>
    </div>
{% endblock %}