<h1>Overcollector is currently under maintenance</h1>
<h2>{{ reason ?? "Routine maintenance" }}</h2>
<h3>Overcollector should be back {{ time|time_diff }}</h3>
<p>
    While Overcollector is down, take note of the cosmetics you earn in game so you can add them in later.
</p>