html {
    font-size: 16px;
}

a {
    color: black;
    text-decoration: none;
}

#import-collection--dialog {
    width: 400px;
}

#cosmetics-menu {
    background-color: #f3f3f3;
}

#cosmetics-menu hr {
    margin: 0;
}

#cosmetics-menu ul {
    margin: 0;
    padding: 0;
}

#cosmetics-menu li {
    height: 100%;
}

#cosmetics-menu .cosmetics-menu--btn {
    margin-left: 0.5rem;
    display: inline;
}

#cosmetics-menu .cosmetics-menu--btn a {
    padding: 0 0.5rem;
}

#cosmetics-menu .cosmetics-menu--item {
    font-size: 1.1rem;
    padding: 0 0.5rem;
}

#cosmetics-table {
    width: 100%;
}

#cosmetics-table .cosmetics-table--hero td {
    font-size: 2rem;
    text-align: left;
    text-indent: 5%;
    font-weight: bold;
    padding: 0;
    border-spacing: 0;
}

#cosmetics-table .cosmetics-table--type td {
    font-size: 1.5rem;
    text-align: left;
    text-indent: 10%;
    padding: 0;
}

#cosmetics-table tr:not(.cosmetics-table--hero):not(.cosmetics-table--type) td {
    padding: 0 0.5rem;
}

.cosmetic.cosmetic-rarity-common .cosmetic--name {
    color: #9d9d9d;
}

.cosmetic.cosmetic-rarity-rare .cosmetic--name {
    color: #0070dd;
}

.cosmetic.cosmetic-rarity-epic .cosmetic--name {
    color: #a335ee;
}

.cosmetic.cosmetic-rarity-legendary .cosmetic--name {
    color: #ff8000;
}

.cosmetic .cosmetic--image {
    float: left;
    padding: 0 0.25rem 0 0;
    margin: 0;
}

.cosmetic .cosmetic--image img {
    width: 30px;
    height: 30px;
}

.cosmetic .cosmetic--checkbox {
    float: left;
    padding-top: 0.25rem;
}

.cosmetic .cosmetic--name {
    float: left;
    font-weight: bold;
    font-size: 1rem;
    padding-top: 0.40rem;
    text-transform: capitalize;
}

.cosmetic .cosmetic--category img {
    width: 30px;
    height: 30px;
}

#profile-settings {
    width: 60%;
}

#profile-settings .integer-setting {
    padding: 0;
    width: 60px;
}

#profile-settings .integer-setting input {
    text-align: right;
}