#cosmetics-table .cosmetics-table--character td {
    font-size: 2rem;
    text-align: center;
    background: url('img/mercy.png') no-repeat right; background-size: contain
}

#cosmetics-table .cosmetics-table--type td {
    font-size: 1.5rem;
    text-align: left;
}

.cosmetic.cosmetic-rarity-common .cosmetic--name {
    color: #9d9d9d;
}

.cosmetic.cosmetic-rarity-rare .cosmetic--name {
    color: #0070dd;
}

.cosmetic.cosmetic-rarity-epic .cosmetic--name {
    color: #a335ee;
}

.cosmetic.cosmetic-rarity-legendary .cosmetic--name {
    color: #ff8000;
}

.cosmetic .cosmetic--checkbox {
    float: left;
}

.cosmetic .cosmetic--name {
    float: left;
    font-weight: bold;
    font-size: 1.25rem;
}

.cosmetic .cosmetic--category img {
    width: 20px;
    height: 20px;
}